body {
  padding:0px;
  margin:0px;
}

.navbar-nav .nav-link {
  padding:5px;
  margin-bottom:2px;
  color:#015249;
}
.navbar-brand img {
  width:50px;
  height:50px;
}

.carousel-item {
  width:100%;
  height:600px;
}

.carousel-caption h5 {
  font-size:4em;
}
.carousel-caption p {
  font-size:2em;
}

.carousel-caption {
    margin-bottom:200px;
}
.section1 {
  position: relative;
  margin:0;
  padding: 0;
  padding-bottom:50px;
  background: linear-gradient(90deg,#f0027f,#75489f);
  width:100%;
  height:auto;
}
.section1-container {
  margin-top:50px;
}
.section1 h2 {
  color: #fff;
  text-transform: uppercase;
  text-shadow:0px 0px 5px #fff;
  letter-spacing: 3px;
  font-family: Source Sans Pro,sans-serif;
  font-weight: 900;
  font-size: 48px;
}
.section1 h3 {
  font-size:20px;

}
.section2 {
  position: relative;
  margin: 0;
  padding: 0;
  background-color:#015249;
  width:100%;
  height:auto;
}
.section2-container {
  background-color:#fff;
  border:12px solid brown;
  height:500px;
  margin:75px auto;
}
/*.section2:before {
  content:'';
  width:50%;
  background-color:#015249;
  position:absolute;
  height:100px;
  top:-48px;
  left:0;
  transform:skewY(8deg);
}
.section2:after {
  content:'';
  position:absolute;
  width:50%;
  background-color:#015249;
  height:100px;
  top:-48px;
  right:0;
  transform:skewY(-8deg);
}*/

    .section3 {
      position: relative
      margin:0;
      padding-bottom:50px;
      background-color: #fff;
      width:100%;
      height:auto;
    }
    #curve {
      position: absolute;
      bottom:0;
      width:100%;
    }
    #curve path {
      fill:#9C27B0;
    }
    .section4 {
      width:100%;
      background-color:#9C27B0;
      height:auto;
      padding-bottom:50px;
    }

    .flip-container {
      margin:50px 25px;
    }
    .flip {
    	width:100%;
      height:250px;
    	}

    	.flip > .front {
        padding:15px 0px;
    	  position:absolute;
        width:100%;
        height:250px;
    		background:#fff;
    		backface-visibility: hidden;
    		transform: perspective(800px) rotateY( 0deg );
    		transition: transform .7s linear 0s;
    		box-shadow:0px 0px 10px #grey;
        border:5px solid grey;
        color:#015249;

    	}

    	.flip > .back {
    		position:absolute;
    		width:100%;
        height:250px;
    		background-color:#e6e6e6;
    		backface-visibility: hidden;
    		transform: perspective(800px) rotateY( 180deg );
    		transition: transform .7s linear 0s;
    		border-radius:5px;
    		box-shadow:0px 0px 40px #e6e6e6;
    		color:royalblue;
    	}

    	.flip:hover  > .front { transform:perspective(600px) rotateY(-180deg);  }
     	.flip:hover  > .back{ transform:perspective(600px) rotateY(0deg);  }


  .message {
	width:100%;
	text-align:center;
	border-bottom:1px solid silver;
	line-height:0.1em;
	margin:30px 0px 20px;
}
.message-text {
	background-color:white;
	color:silver;
	text-shadow:0px 0px 2px grey;
	font-size:30px;
	padding:0 10px;
}
.bx-wrapper {
  width: 100%;
  border: 10px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.bx-wrapper .bx-viewport {
  height: 189px !important;
}
.footer-bg {
  background-color: #F3E5F5;
}
.bottom-footer {
  background-color: #4A148C;
  color:white;
}

/* Media Query */
